* {
    font-family: 'Kumbh Sans', sans-serif;
}


/* mobile view*/
@media all and (max-width: 375px) {
    
    body {
      margin: 1em;
      margin-bottom: 5em;
      background-image: linear-gradient(to bottom right, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    }

    .container {
        flex-wrap: wrap;
        margin-top: 15em;
    }

    .container > div {
        flex: 1 1 100%;
        margin: 0em;
        border-radius: 1em;
    }

    .image {
        
        height: 7em;
        position: relative;
      
    }
    .woman {
        max-height: 14em;
        position: absolute;
        left: 19px;
        bottom: 25px;
    }
    
    .box {
        position: absolute;
        max-height: 7em;
        bottom: 55px;
        left: 15px;
    }
    .pattern {
        position: absolute;
        max-height: 18em;
        bottom: 0px;
        left: 1em;
    }

    h1 {
       text-align: center;
    }
    p {
        margin-left: .5em;
        font-size: 1em;
    }
    
    hr {
        width: 93%;
    }
    #lastQ {
        margin-bottom: 3em;
    }
    
    footer {
        position: relative;
       left: 0px;
       bottom: 0px;
    }
  }


/* desktop view */
  @media all and (min-width: 376px) {
    body {
        margin: 7em;
        background-image: linear-gradient(to bottom right, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    }
    .woman {
        position: absolute;
        left: 50px;
        top:17em;
        max-width: 100%;
        height: auto;
    }
    
    .box {
        position:absolute;
        top: 25em;
        left: 30px;
    }

    .pattern {
        position: absolute;
        bottom: -15em;
        right: 50em;
        height: auto;

    }
    
  }


.container {
    background-color: white;
    display: flex;
    border-radius: 1em;
    box-shadow: 0px 20px 20px rgba(14, 14, 14, 0.219);
}

.faqs {
    width: 25em;
    min-width: 343px;
    flex: 1;
    margin-top: 1em;
    margin-right: 3em;
    margin-bottom: 1em;
    margin-left: 1em;
}
.image {
    flex: 1;
}

button, .arrow {
    background-color: white;
    border-style: none;
    cursor: pointer;
    align-self: center;
    margin-top: 30px;
    margin-right: 10px;
    float: right;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 30px;
}

.question {
    display: inline-flex;
    margin-top: 30px;
}

.question:hover {
    color: red;
    cursor: pointer;
}

p {
    font-size: 1em;
    margin-right: 10px;
    margin-bottom: 1.5em;
}

#lastQ {
    margin-bottom: 3em;
}

footer {
    position: relative;
    margin-top: 100px;
    left: 0px;
    bottom: 0px;
    top: 800;
    width: 100%;
    background-image: gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.attribution { 
    font-size: 14px; 
    text-align: center; 
    justify-content: center;
    bottom: 0px;
}    
.attribution a { 
    color:whitesmoke; 
}
